.navbar {
    background: linear-gradient(45deg, #4CAF50, #357a38);
    text-align: center; 
    padding: 10px ;
    font-family: 'Times New Roman', Times, serif;
    margin-left:15px;
    margin-right:15px;
}
.nav-link {
    color: white; 
    text-decoration: none; 
    font-size: 30px; 
    margin: 0 50px; 
    display: inline-block; 
    font-weight: bold; 
    transform:scale(1.1);
}
.nav-link:hover {
    color: #ffcc00;
    transition: color 0.3s ease-in-out; 
   
}
.img-con {
    position:relative;
    width:400px;
    display:flex;
}
.wh {
    margin:25px;
    border-radius:5px;
    border-style:solid;
    border-color:rgb(52, 91, 46);
}
.js {
    position:absolute;
    top: 225px;
      left: 175px; 
      width: 250px;
      border-radius:5px;
    margin:25px;
    border-style:solid;
    border-color:rgb(52, 91, 46);
}
.wr {
    position:absolute;
    top: 420px;
      right: 100px; 
      width: 250px;
    margin:25px;
    border-radius:5px;
    border-style:solid;
    border-color:rgb(52, 91, 46);
}
.gr {
    position:absolute;
    left:900px;
    margin-top:25px;
    width: 500px;
    border-radius:5px;
    border-style:solid;
    border-color:rgb(52, 91, 46);
}
.em {
    position:absolute;
    left:475px;
    margin-top:25px;
    width: 400px;
    border-radius:5px;
    border-style:solid;
    border-color:rgb(52, 91, 46);
}
.til {
    font-family: georgia, serif;
    background-color:rgb(76, 155, 76);
    color:rgb(222, 162, 85);
    margin-left:100px;
    margin-right:100px;
    text-align:center;
    font-weight:bold;
    border-radius:5px;
    border-style:solid;
    border-color:rgb(52, 91, 46);
}
.ot {
    font-family:georgia, serif;
    color: rgb(79, 125, 79);
    background-color: rgb(252, 252, 238);
    position:absolute;
    margin-right: 100px;
    margin-left:475px;
    border-radius:5px;
    border-style:solid;
    border-color:rgb(52, 91, 46);
}
.custom-hr {
    margin-left:40px;
    margin-right:40px;
    margin-top:355px;
}
img[alt^="Crop Failures"] {
    border: 3px dashed #1c6026;
    border-radius: 10px;
}

.img-con img:first-child {
    border: 3px solid green;
    transform: scale(1.1);
}

.img-con img:last-child {
    border: 3px solid rgb(42, 102, 52);
    opacity: 0.8;
}


.img-con img:nth-child(2) {
    border: 3px dashed orange;
    filter: grayscale(50%);
}

.img-con img:nth-child(odd) {
    box-shadow: 5px 5px 15px rgba(42, 108, 45, 0.5);
}
.img-con img:nth-child(even) {
    border-radius: 10px;
    background-color: #f0f0f0;
}


